.department-box {
    width: 100%;
    color: #000;
}

.department-box header {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    color: #fff;
    width: 99%;
}

.department-box header button:nth-child(1),.department-box header button:nth-child(2) {
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    background-color: rgb(255, 0, 0);
    padding: 10px;
    font-size: 13px;
    transition: 400ms;
    box-sizing: border-box;
    border-radius: 5px;
}

.department-box header button:nth-child(1) {
    background-color: rgb(205, 205, 205);
    color: rgb(0, 0, 0);
}

.department-box header button:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.department-box table {
    width: 100%;
    margin: 10px 0;
    font-size: 13px;
    border-bottom: 1px solid #000;
    border-radius: 10px;
}

.department-box table thead {
    padding: 50px 10px;
    text-transform: uppercase;
    font-family: "Young Serif", sans-serif;
    background: rgb(0, 0, 0);
    color: #fff;
}

.department-box table tbody {
    background-color: rgb(230, 230, 230);
    color: rgb(0, 0, 0);
}

.department-box table thead tr td:nth-child(1){
    border-bottom: none;
    border-right: 1px solid rgb(205, 205, 205);
    border-radius: 10px 0 0 0;
}

.department-box table thead tr td:nth-last-child(1){
    border-radius: 0 10px 0 0;
    border: 10px 0 0 2px;
    border-left: 1px solid rgb(205, 205, 205);
}

.department-box table td {
    padding: 20px 10px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    cursor: pointer;
}

.department-box table tbody tr:nth-last-child(1) td:nth-child(1) {
    border-radius: 0 0 0 10px;
}

.department-box table tbody tr:nth-last-child(1) td:nth-last-child(1) {
    border-radius: 0 0 10px 0;
}

.department-box form label { 
    align-items: center;
    font-size: 15px;
    display: block;
}

.department-box form {
    width: 100%;
}

.department-box form input {
    padding: 15px;
    border-radius: 5px;
    margin: 10px auto;
    border: none;
    width: 100%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    border: 1px solid #808080;
    margin-bottom: 30px;
}

.department-box form input:focus {
    border: 1px solid #000;
    background-color: rgb(218, 218, 218);
}

.department-box form button {
    display: block;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    background-color: rgb(0, 0, 0);
    padding: 10px 30px;
    font-size: 15px;
    transition: 300ms;
    box-sizing: border-box;
    border-radius: 5px;
}

.department-box form button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.gender {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.department-box form .gender input {
    width: fit-content;
    padding: 0;
    margin: 0 5px 0 10px;
    background-color: red;
}

.department-box form .gender label {
    font-weight: 500;
    font-size: 13px;
}


.gender p {
    display: flex;
    font-size: 15px;
}

@media screen and (max-width:1040px) {
    .department-box form input {
        width: 100%;
    }
    .department-box table {
        font-size: 14px;
    }
}