@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Young+Serif&display=swap');

.parent {
    background-color: #fafbfd;
    height: 100vh;
    overflow: hidden;
}

header {
    color: #000000;
    background-color: #fafbfd;
    font-family: "Poppins", sans-serif;
}

.navbar {
    display: flex;
    box-sizing: border-box;
    padding: 15px 10px;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    justify-content: space-between;
}

.logo {
    font-size: 20px;
    text-transform: uppercase;
    width: fit-content;
    font-family: "DM Serif Display";
    box-sizing: border-box;
}

#menu {
    display: block;
    margin-right: 30px;
}

#close {
    display: none;
    margin-right: 30px;
}

.avatar {
    height: 50px;
    border-radius: 10%;
}

.logo img {
    width: 100px;
    margin-bottom: -20px;
}

a {
    color: inherit;
    text-decoration: none;
}

.dashboard-main {
    color: #000000;
    position: relative;
    display: flex;
}

.dashboard-content {
    background: #fafbfd;
    padding: 10px;
    height: 90vh;
    display: flex;
    align-items: center;
    border-top: 1px solid #a1a1a1;
    border-left: 1px solid #a1a1a1;
    border-radius: 10px 0 0 0;
    width: 100%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: #000000;
}

.dashboard-content div {
    height: 100%;
    overflow-y: scroll;
    font-size: 14px;
    font-weight: 300;
}

.dashboard-menu {
    background-color: rgb(255, 255, 255);
    width: 18%;
    height: 94vh;
    color: #000000;
    overflow: hidden;
    display: flex;
    padding-left: 10px;
}

.nav-menu {
    background-color: #fff;
    justify-content: space-between;
    list-style-type: none;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    overflow: scroll;
}

.nav-menu li {
    padding: 10px 10px;
    border-radius: 5px;
    position: relative;
    font-size: 14px;
    font-weight: 300;
    margin: 10px 0 50px 0;
    width: fit-content;
}

#active {
    background-color: #80808083;
    color: #ffffff;
    transition: 0.3s ease-in-out;
}

#active:hover::before {
    position: absolute;
    border: none;
    color: #fff;
  }

#active:hover {
    color: #ffffff;
}

.nav-menu li::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    left: 0;
    top: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }

.nav-menu li:hover::before {
    transform-origin: left;
    cursor: pointer;
    background-color: #80808083;
    height: 100%;
    transform: scaleX(1);
  }

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 1px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ececec;
}

@media screen and (max-width:1024px) {
    .dashboard-content {
        height: 95vh;
        overflow-y: scroll;
        padding: 20px 10px;
    }
    .dashboard-menu {
        width: 35%;
    }
}

@media screen and (max-width:768px){
    .logo {
        width: fit-content;
    }
    .hamburger{
        display: block;
    }
    .dashboard-menu {
        width: 0;
        border-right: none;
        padding-left: 0;
        overflow-y: scroll;
    }
    .dashboard-content {
        height: 93vh;
        overflow-y: scroll;
        padding-bottom: 30px;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 60px;
        background-color: rgb(255, 255, 255);
        width: 40%;
        height: 100%;
        padding-top: 50px;
        display: flex;
        justify-content: center;
        transition: 0.3s;
    }

    .nav-menu.active {
        left: 0;
    }
}

@media screen and (max-height:600px) {
    .dashboard-content {
        height: 90vh;
        display: block;
    }
    .dashboard-content div {
        margin-top: -5px;
    }
}

@media screen and (max-width:540px) {
    .navbar {
        justify-content: stretch;
        align-items: center;
    }
    .logo {
        text-align: center;
        width: 65%;
    }
    .avatar {
        display: flex;
        position: absolute;
        right: 10px;
    }
    .hamburger {
        align-items: center;
    }
    .bar {
        background-color: #000;
        margin-left: 30px;
        height: 2px;
        align-items: center;
    }
    .nav-menu {
        width: 55%;
        padding-bottom: 50px;
        height: 95%;
        justify-content: left;
        padding-left: 20px;
    }
    .nav-menu li {
        font-size: 14px;
    }
    .dashboard-content {
        display: block;
        height: 98vh;
        border-radius: 0;
        border-left: 0;
    }
    .dashboard-content div {
        height: 99%;
        margin-top: -13px;
    }
    #menu {
        width: 30px;
    }
    .logo {
        font-family: "Poppins", sans-serif;
    }
    .avatar {
        height: 40px;
    }
}

@media screen and (max-height:540px) {
    .nav-menu {
        width: 55%;
    }
    .nav-menu li {
        margin: 15px 0;
        font-size: 14px;
    }
    .dashboard-content {
        display: block;
        height: 95vh;
    }
    .dashboard-content div {
        height: 92%;
        margin-top: -14px;
    }
}

@media screen and (max-width:375px) {
    .dashboard-content div {
        margin-top: -15px;
    }
}